@model SeattlePetNanny.Models.Admin
    @{
        Layout = "_Layout";
    }
    <label asp-for="FirstName" class="control-label"></label>
    <label asp-for="LastName" class="control-label"></label>
    <label asp-for="Neighborhood" class="control-label"></label>
