@{
    Layout = "_Layout";
}

<h3>
    Unfortunately, you do not have permission to view this page. <br />
    This area is only for Seattle Pet Nanny Employees<br />
    <a href="~/Home/Index">Go Back</a> to the home page.
</h3>