@model SeattlePetNanny.Models.Owner
@{ 
    Layout = "_Layout";
}
<label asp-for="FirstName" class="control-label"></label>
<label asp-for="LastName" class="control-label"></label>
<label asp-for="Birthday" class="control-label"></label>
<label asp-for="Address" class="control-label"></label>
<label asp-for="Location" class="control-label"></label>

<style>
    .proPic{
        width: 100px;
        height: 100px;
        background-color:red;
    }
</style>
<div class="container proPic">

   <img class="col-sm-8"href="" />
    <p class="col-sm-4">name</p>
    <p class="col-sm-4">Location</p>
    <p class="col-sm-4">Address</p>


</div>
