@model SeattlePetNanny.Models.Owner
@{
    Layout = "_Layout";
}

<div class="jumbotron profileBanner text-center">
    <div class="bannerText">
        <a href="~/Home"><img class="proBanner" src="~/imgs/SPN LOGO .png" /></a>
        <h4 class="greeting">Profile</h4>
    </div>
</div>


<a href="~/Addpet/Modal"> Add Pet </a>

<div class="petInfo">

</div>



<div class="container userInfo">

    <div class="container userDisplay">

        <div class="proPic col-md-1"></div>

        @*@Model.FirstName*@
        <div class="container row userData col-md-6 col-md-offset-2">

        </div>
    </div>
</div>


