@model SeattlePetNanny.Models.Owner
@{
    Layout = "_Layout";
}

<div class="jumbotron profileBanner text-center">
    <div class="bannerText">
        <a href="~/Home"><img class="proBanner" src="~/imgs/SPN LOGO .png" /></a>
        <h4 class="greeting">Profile</h4>
    </div>
</div>

<a asp-action="Modal" asp-controller="Account" asp-route-id="1" data-target="#modal-container" data-toggle="modal">Add Pet</a>
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


<div class="petInfo">

</div>



<div class="container col-md-12 userInfo">

    <div class="container userDisplay">

        <div class="proPic col-md-1"></div>

        @*@Model.FirstName*@
        <div class="container row userData col-md-6 col-md-offset-2">
        </div>
    </div>
</div>


