@model SeattlePetNanny.Models.Dog
@{
    Layout = "_Layout";
}

<div class="jumbotron profileBanner text-center">
    <div class="bannerText">
        <a href="~/Home"><img class="proBanner" src="~/imgs/SPN LOGO .png" /></a>
        <h4 class="greeting">Profile</h4>
    </div>
</div>



<div class="petInfo">

</div>


<div>

    <div class="container proPic"></div>
    <div class="dogData">
        <h2>Name: <strong>Russ</strong></h2>
        <h2>Breed: <strong>Bulldog</strong></h2>
        <h2>Temperment: <strong>Calm</strong></h2>
        <h2><strong>Schedule A Service:</strong></h2>
        <input class="form-control datePicker" id="date" type="date">

        <div class="container proPic ppic2"></div>
        <div class="dogData">
            <h2>Name: <strong>Greg</strong></h2>
            <h2>Breed: <strong>Bulldog</strong></h2>
            <h2>Temperment: <strong>Calm</strong></h2>
            <h2><strong>Schedule A Service:</strong></h2>
            <input class="form-control datePicker" id="date" type="date">

        </div>
    </div>

    <div>
        <button class="btn addPet" href="~/Addpet/modal"> Add Pet </button>
    </div>

    <
</div>

@*@Model.Name
    @Model.Breed
    @Model.Temperment*@


