@model SeattlePetNanny.Models.Dog
@{
    Layout = "_Layout";
}

<div class="jumbotron profileBanner text-center">
    <div class="bannerText">
        <a href="~/Home"><img class="proBanner" src="~/imgs/SPN LOGO .png" /></a>
        <h4 class="greeting">Profile</h4>
    </div>
</div>



<div class="petInfo">

</div>


<div>


    <div class="container gallBack">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Pets</h1>
            </div>
            <br />
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe dogData">
                <img src="~/imgs/pet1.jpg" class="img-responsive">
                <h4>Name: <strong>Russ</strong></h4>
                <h4>Breed: <strong>German Shepard</strong></h4>
                <h4>Temperament: <strong>Active</strong></h4>
                <h4><strong>Schedule Service:</strong></h4>
                <input class="form-control datePicker" id="date" type="date">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle dogData">
                <img src="~/imgs/pet2.jpg" class="img-responsive">
                <h4>Name: <strong>Ela</strong></h4>
                <h4>Breed: <strong>Rock Wilder</strong></h4>
                <h4>Temperament: <strong>Aggressive</strong></h4>
                <h4><strong>Schedule Service:</strong></h4>
                <input class="form-control datePicker" id="date" type="date">
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe dogData">
                <img src="~/imgs/pet3.jpg" class="img-responsive">
                <h4>Name: <strong>Elroy</strong></h4>
                <h4>Breed: <strong>Golden Retriever</strong></h4>
                <h4>Temperament: <strong>Active</strong></h4>
                <h4><strong>Schedule Service:</strong></h4>
                <input class="form-control datePicker" id="date" type="date">
            </div>
        </div>
    </div>

    @*<div class="container proPic"></div>
        <div class="dogData">
            <h2>Name: <strong>Russ</strong></h2>
            <h2>Breed: <strong>Bulldog</strong></h2>
            <h2>Temperment: <strong>Calm</strong></h2>
            <h2><strong>Schedule A Service:</strong></h2>
            <input class="form-control datePicker" id="date" type="date">
            <br />
            <hr />
            <br />

            <div class="container ppic2"></div>
            <div class="dogData">
                <h2>Name: <strong>Greg</strong></h2>
                <h2>Breed: <strong>Bulldog</strong></h2>
                <h2>Temperment: <strong>Calm</strong></h2>
                <h2><strong>Schedule A Service:</strong></h2>
                <input class="form-control datePicker" id="date" type="date">
                <br />
                <hr />
                <br />

            </div>*@
</div>

<div>
    <button class="btn addPet" href="~/Addpet/modal"> Add Pet </button>
</div>

<div>
    <button class="btn addPet" href="~/Addpet/modal"> Schedule Service </button>
</div>

    <
</div>

@*@Model.Name
    @Model.Breed
    @Model.Temperment*@


