@{ 
    Layout = "_Layout";
}

<style>
    .proPic{
        width: 100px;
        height: 100px;
        background-color:red;
    }
</style>
<div class="container proPic">
   <img href="" />
</div>
You are signed in.