@{ 
    Layout = "_Layout";
}

<style>
    .proPic{
        width: 100px;
        height: 100px;
        background-color:red;
    }
</style>
<div class="container proPic">
   <img class="col-sm-8"href="" />
    <p class="col-sm-4">name</p>
    <p class="col-sm-4">Location</p>
    <p class="col-sm-4">Address</p>

</div>


You are signed in.