@model SeattlePetNanny.Models.Owner
@{ 
    Layout = "_Layout";
}
@*<div class="container">
    <div class="row">

<label asp-for="FirstName" class="control-label"></label>
<label asp-for="LastName" class="control-label"></label>
<label asp-for="Birthday" class="control-label"></label>
<label asp-for="Address" class="control-label"></label>
<label asp-for="Location" class="control-label"></label>

    </div>

</div>

<style>
    .proPic{
        width: 200px;
        height: 200px;
        background-color:red;
    }
</style>
<div class="container proPic">

   <img class="col-sm-8"href="" />
    <p class="col-sm-4">name</p>
    <p class="col-sm-4">Location</p>
    <p class="col-sm-4">Address</p>


</div>*@

<a asp-action="Modal" asp-controller="Account" asp-route-id="1" data-target="#modal-container" data-toggle="modal">Add Pet</a>
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
