@model SeattlePetNanny.Models.DogViewModel
@{
    Layout = "_Layout";
}

<div class="modal-body">
    <div class="form-horizontal">
        <h3>Add a Pet</h3>
        <div class="container petForm">
            <form method="post">
                <div asp-validation-summary="All"></div>
                <label asp-for="Name">Pet Name:</label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name"></span> <br />
                <label asp-for="Breed">Breed:</label>
                <input class="form-control" asp-for="Breed" />
                <span asp-validation-for="Breed"></span> <br />
                <label asp-for="Temperment">Temperment:</label>
                <input class="form-control" asp-for="Temperment" />
                <span asp-validation-for="Temperment"></span> <br />
                <button class="btn center-block" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

<style>
    .petForm {
        max-width: 80%;
    }
</style>