@using System.Security.Claims;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/style.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/Home">Seattle Pet Nanny</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="~/Home/Rates">Rates</a>
                </li>
                <li class="active">
                    <a href="~/Home/About">About</a>
                </li>
                <li class="active">
                    <a href="~/Home/Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        @if (!User.Identities.Any(u => u.IsAuthenticated))
        {
            <span>Hello!<a href="~/Account/Login"> Login </a> or <a href="~/Account/Register"> Register </a> an account</span>

        }
        else
        {
            <span>
                Hello, @User.Identities.First(u => u.IsAuthenticated &&
                u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
                    | Click <a href="~/Account/Logout"> here </a> sign out.
    
                </span>

        }

    </div>

    <div>
        @RenderBody()
    </div>

</body>
</html>
