@{
    Layout = "_Layout";
}

<style>
    .servicesRow {
        text-align: center;
        margin-top: 20px;
    }

    .jumbotron {
        margin-top: 20px;
    }

    .homeBanner {
        background-color: #422367;
        margin-bottom: 50px;
    }

    body {
        background-color: white;
        color: #422367;
        font-family: 'Montserrat', sans-serif;
    }

    .hmebanner {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
    }

    .bannerText {
        font-family: 'Playfair Display', serif;
        color: white;
        margin-bottom: 50px;
    }

    .serviceContainer{
        text-align:center;
    }

    .serviceLine {
        text-align: center;
        font-family: 'Playfair Display', serif;
    }
</style>

<div class="jumbotron homeBanner text-center">
    <div class="bannerText">
        <img class="hmebanner" src="~/imgs/SPN PURPLE BACK_LOGO.png" />
        <p>Safe, Trustworthy, and Reliable</p>
    </div>
</div>
<div class="container serviceContainer">
    <div>
        <h2 class="serviceLine">| SERVICES |</h2>
    </div>
    <div class="container services">
        <div class="row servicesRow">
            <div class="col-sm-4 oneOnone">
                <h3>1 on 1 walks</h3>
                <p>Best for shy, aggressive, or older dogs.</p>
                <p><a href="~/Home/Rates">Learn More</a></p>
            </div>

            <div class="col-sm-4 oneOnone">
                <h3>Overnight Nanny</h3>
                <p>When you can't be home</p>
                <p><a href="~/Home/Rates">Learn More</a></p>
            </div>

            <div class="col-sm-4 oneOnone">
                <h3>Leader Of The Pack</h3>
                <p>Best for practicing or gaining social skills.</p>
                <p><a href="~/Home/Rates">Learn More</a></p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron registerBanner text-center">
    <h2>Sign up for Nanny Sevices Here</h2>
    @if (!User.Identities.Any(u => u.IsAuthenticated))
        {
            <p><a href="~/Account/Register">Start Instantly</a></p>
        }
    else
        {
            <p><a href="~/Account/ProfilePage">Start Instantly</a></p>
        }
</div>
