@{
    Layout = "_Layout";
}


<div class="jumbotron profileBanner text-center">
    <div class="bannerText">
        <a href="~/Home"><img class="proBanner" src="~/imgs/SPN LOGO .png" /></a>
        <h4 class="greeting">SERVICES</h4>
    </div>
</div>


<div class="container ratesContainer">


<h2 class="serviceTypes">WALKS</h2>
    <hr />
<ul>
    <li><strong>1 on 1</strong>: Your pup will walk with only his or her Pet Nanny. Best for shy, dog aggressive, or older dogs.</li>
    <li><strong>Leader of the pack</strong>: Your pup will walk with other pups (3 Max). Best for puppies, well socialized pups, and pups wanting to gain social skills.</li>   
</ul>

<h4><strong>WALK RATES</strong></h4>
<ul>
    <li><strong>30 min</strong> walk ala cart - <strong>$21.00</strong></li>
    <li><strong>45 min</strong> walk ala cart - <strong>$26.00</strong></li>
    <li>purchase <strong>10 walks</strong> and receive <strong>5% discount</strong>, purchase <strong>20 walks</strong> receive <strong>10% discount</strong></li>
</ul>
<br />


<h2 class="serviceTypes">HOME NANNY SERVICE</h2>
    <hr />
    <br />
<p>Your Pet Nanny will provide basic in-home care for your pet. Services include but are not limited to feeding, cleaning cages or litter boxes, administering medicines, watering plants, and bringing in mail. Your Pet Nanny will also make sure your pet receives all the love and attention they deserve.</p>
<ul>
    <li><strong>SMALL ANIMAL CARE</strong>: <br /> Includes cats, fish, turtles ect. <br /><strong>RATE: 20 min - $16.00</strong></li>
    
    <li><strong>PUPPY CARE</strong> (6months or younger) <br />
    Puppies in need of more frequent Pet Nanny services. Visits include a potty brake, basic obedience training, playtime and feedings.<br />
    <strong>RATE: 20 minutes - $16.00</strong></li>

    <li><strong>OVERNIGHT CARE</strong>: <br /> Your Pet Nanny will take your pup on 3 short walks a day and stay with them overnight from 8pm-7am the next day. <br />
    <strong>RATE: $65.00</strong>(10% discount given for 4 or more consecutive overnights)</li>
</ul>
<br />


<h2 class="serviceTypes">Surcharges</h2>
    <hr />
    <br />

<ul>
    <li>Multiple Pets - <strong>$5.00</strong></li>
    <li>Weekends or after hour walks - <strong>$5.00</strong></li>
    <li>Same day cancelation - <strong>$5.00</strong></li>
    <li>Holiday walks - <strong>$5.00</strong></li>
</ul>
</div>

