@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Seattle Pet Nanny</h2>
<p>Seattle Pet Nanny is a licensed, insured, and privately-owned Seattle based company. We offer premium Pet Nanny services that cater to your busy Seattle lifestyle. We believe a happy pet is one that is fit and well exercised daily both physically and mentally. Our dog walking services are designed for your dog’s benefit– and that includes helping your dog gain social skills on walk, spend pent up energy productively, and a chance to break up their day. For our home visits we strive to engage your pet in playful activity and deliver lots of love and affection. Our mission is to provide safe, trustworthy, and reliable pet nanny services at an affordable rate. Trust us with your loved ones and it will shine through with a happy pet as well as a happy owner.</p>

<h3>Walk with a Pet Nanny</h3>
<p>Seattle Pet Nanny offers 2 kinds of walks both with different durations.</p>
<ul>
    <li>One on one with a Pet Nanny. Your pup will walk with only his or her Pet Nanny. Best for shy, dog aggressive, or older dogs.</li>
    <li>Leader of the pack. Your pup will walk with other pups (our Pet Nannies never exceed 3 pups per walk). Best for puppies, well socialized pups, and pups wanting to gain social skills.</li>
    <li>30 min. walk ala cart $21.00</li>
    <li>45 min. walk ala cart $26.00</li>
    
</ul>

<p>(purchase 10 walks and receive 5% discount, purchase 20 walks receive 10% discount)</p>

<h3>Home nanny services</h3>
<p>Your Pet Nanny will provide basic in-home care for your pet. Services include but are not limited to feeding, cleaning cages or litter boxes, administering medicines, watering plants, and bringing in mail. Your Pet Nanny will also make sure your pet receives all the love and attention they deserve.</p>
<ul>
    <li>Kitty, fish, or small animal care.</li><br />
    20 min. visit $16
    <li>Pet Nanny overnights in your home. Your Pet Nanny will take your pup on 3 short walks a day and stay with them overnight from 8pm-7am the next day.</li><br />
    Overnight Pet Nanny $65 (10% discount given for 4 or more consecutive overnights)

    <li>Puppy Care (6months or younger)</li>
    <br />
    Puppies in need of more frequent Pet Nanny services. Visits include a potty brake, basic obedience training, playtime and feedings.
    20 minute visit $16
</ul>

<h3>Surcharges</h3>

<ul>
    <li>Additional pup from same household $5</li>
    <li>Weekend or after hour walks $5</li>
    <li>Same day cancelation $5</li>
    <li>Holiday walks $5</li>
</ul>


<a asp-action="Index" asp-controller="Home">Return to Home Page.</a>

